@page "/map"

<PageTitle>@localizer["Mapa"]</PageTitle>
@inject IStringLocalizer<resource> localizer

<div class="p-3">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 mb-4">
                <div class="card border-success border rounded border-2 shadow-sm">
                    <img class="card-img-top w-100 d-block border-2 border-danger" src="Images/lisboa_mapa.png">
                    <div class="card-body text-light" style="background: #d53f28;border-top-style: solid;border-top-color: #038744;">
                        <h4 class="card-title">Salesianos Lisboa</h4>
                        <h6 class="text-warning card-subtitle mb-1">Praça São João Bosco 34</h6>
                        <h6 class="text-warning card-subtitle mb-2">1399-007 Lisboa, Portugal</h6>
                        <p class="border rounded border-light bg-light card-text px-1" style="color: rgb(0,0,0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telephone-fill text-success">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                            </svg>Contacto:&nbsp;+351210900500
                        </p><a class="btn btn-dark float-start" href="#">Contactar</a><a class="btn btn-success float-end" href="#">Obter Direções</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 mb-4">
                <div class="card border-success border rounded border-2 shadow-sm">
                    <img class="card-img-top w-100 d-block border-2 border-danger" src="Images/manique_mapa.png">
                    <div class="card-body text-light" style="background: #d53f28;border-top-style: solid;border-top-color: #038744;">
                        <h4 class="card-title">Salesianos Manique</h4>
                        <h6 class="text-warning card-subtitle mb-1">Manique de Baixo, R. Salesianos</h6>
                        <h6 class="text-warning card-subtitle mb-2">2645-438 Alcabideche, Portugal</h6>
                        <p class="border rounded border-light bg-light card-text px-1" style="color: rgb(0,0,0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telephone-fill text-success">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                            </svg>Contacto:&nbsp;+351214458210
                        </p><a class="btn btn-dark float-start" href="#">Contactar</a><a class="btn btn-success float-end" href="#">Obter Direções</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 mb-4">
                <div class="card border-success border rounded border-2 shadow-sm">
                    <img class="card-img-top w-100 d-block border-2 border-danger" src="Images/estoril_mapa.png">
                    <div class="card-body text-light" style="background: #d53f28;border-top-style: solid;border-top-color: #038744;">
                        <h4 class="card-title">Salesianos Estoril</h4>
                        <h6 class="text-warning card-subtitle mb-1">Avenida Marginal</h6>
                        <h6 class="text-warning card-subtitle mb-2">2765-245 Estoril, Portugal</h6>
                        <p class="border rounded border-light bg-light card-text px-1" style="color: rgb(0,0,0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telephone-fill text-success">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                            </svg>Contacto:&nbsp;+351214678970
                        </p><a class="btn btn-dark float-start" href="#">Contactar</a><a class="btn btn-success float-end" href="#">Obter Direções</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 mb-4">
                <div class="card border-success border rounded border-2 shadow-sm">
                    <img class="card-img-top w-100 d-block border-2 border-danger" src="Images/ensr_mapa.png">
                    <div class="card-body text-light" style="background: #d53f28;border-top-style: solid;border-top-color: #038744;">
                        <h4 class="card-title">Externato Nossa Senhora do Rosário</h4>
                        <h6 class="text-warning card-subtitle mb-1">R. Maria Auxiliadora n.º 53</h6>
                        <h6 class="text-warning card-subtitle mb-2">2750-616 Cascais, Portugal</h6>
                        <p class="border rounded border-light bg-light card-text px-1" style="color: rgb(0,0,0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telephone-fill text-success">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                            </svg>Contacto:&nbsp;+351214868267
                        </p><a class="btn btn-dark float-start" href="#">Contactar</a><a class="btn btn-success float-end" href="#">Obter Direções</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}

