@page "/post/add"
@page "/post/edit/{ID:int}"
@using BlazorWYDDB23.Shared.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>@Title Publicação</h1>
<hr />
<EditForm Model="@post" OnValidSubmit="SavePost">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="post.Title" />
        </div>
        <ValidationMessage For="@(() => post.Title)" />
    </div>
    <div class="mb-3">
        <label for="Message" class="form-label">Message</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="post.Message" />
        </div>
        <ValidationMessage For="@(() => post.Message)" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Publicar</button>
        <button class="btn btn-light" @onclick="Cancel">Cancelar</button>
    </div>
</EditForm>
@code {
    [Parameter]
    public int ID { get; set; }
    protected string Title = "Adicionar";
    public Post post = new();
    protected override async Task OnParametersSetAsync()
    {
        if (ID != 0)
        {
            Title = "Editar";
            post = await Http.GetFromJsonAsync<Post>("api/post/" + ID);
        }
    }
    protected async Task SavePost()
    {
        if (post.ID != 0)
        {
            await Http.PutAsJsonAsync("api/post", post);
        }
        else
        {
            await Http.PostAsJsonAsync("api/post", post);
        }
        Cancel();
    }
    public void Cancel()
    {
        NavigationManager.NavigateTo("/post");
    }
}