@inject IStringLocalizer<resource> localizer

<div class="center-screen" style="margin: 0 auto; width: 100vw; height: 100vh;">
    <div class="align-item-center justify-content-center vh-100 d-flex flex-column">
        <div class="text-center pt-3" style="color: rgb(56,126,71); font-size: 16pt">
            @localizer["A Carregar..."]
            <br />
            <div class="text-center mt-3">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                      style="font-size: 16pt; width: 36px; height: 36px; color: rgb(56,126,71)" />
            </div>
        </div>
    </div>
</div>

@code {

}

