@inherits LayoutComponentBase

<NavMenu />

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<!--
<footer class="footer text-center" style="background: url(&quot;Images/WYD_PATTERN-03.jpg&quot;) center / contain repeat; padding-top: 20px; padding-bottom: 10px;">
    <p style="color: var(--bs-black);font-size: 14px;text-align: left;margin-left: 2em;"><span style="color: rgb(11, 11, 11);">Copyright &nbsp;© Fundação Salesianos</span></p><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a>
</footer>
-->
